#about-page-section {
  justify-content: space-evenly;
}

.about-color {
  color: $customBlueShadow;
}
.about-color:hover {
  color: $customBlue;
  transform: scale(0.8);
}

.about-background-color {
  background-color: $customBlue;
}

.circle-grow {
  transform: scale(1);
  transition: all 4s ease-in-out;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
#about-content {
  align-items: center;
  font-size: 1.1em;
  h1 {
    margin-top: 140px;
  }
}

#portrait {
  width: 75%;
  position: relative;
  right: 45%;
  bottom:35%;
}
