
    $customPink: rgb(209, 185, 175);
    $customDarkPinkShadow: rgb(133, 74, 79);
    $customDarkPink: rgb(206, 127, 134);
    $customBlue: rgb(71, 80, 103);
    $customBlueShadow: rgb(44, 49, 62);
    $customYellow: rgb(254, 183, 87);
    $customYellowShadow: rgb(200, 120, 60);
    $customDarkYellowShadow: rgb(143, 77, 27);
    $customShadow: rgba(20, 20, 20, 0.4);
    $backgroundShadow: rgb(180, 190, 200);
  
  