#contact-page-section {
  justify-content: space-evenly;
}

.contact-color {
  color: $customDarkPink;
}
.contact-color:hover {
  color: $customDarkPinkShadow;
  transform: scale(0.8);
}
.contact-background-color {
  background-color: $customDarkPink;
}

.content {
  a {
    margin-left: 20%;
    display: flex;
    text-decoration: none;
    svg {
      fill: $customBlueShadow;
    }
    p {
      color: $customBlueShadow;
      font-family: "Dosis", sans-serif;
      font-size: 1.5em;
      padding-top: -5px;
    }
  }
}
